* {
    
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    background-color: #CCF8B3;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #7AC750;
}

/*COLORS*/
.bg-pink-light{
    background-color: #FFF6EF !important;
}
.bg-green{
    background-color: #245F43 !important;
}
.bg-green-light{
    background-color: #CCF8B3 !important;
}
.bg-green-meddiun{
    background-color: #7AC750 !important;
}
.submit-lente {
    position: absolute;
    left: 1rem;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    height: 100%;
    background-color: transparent;
}
.placeholder-light::placeholder{
    color: rgba(255, 255, 255, 0.493) !important;
}
.div-shadow{
    height: 100% !important;
}

.valorproduto{
    color:  #7AC750;
 }
 .line{
    width: 100%;
    height: 1px;
    background-color: #7AC750;
 }

 .item-hover:hover{
    cursor: pointer;
    background-color: rgba(189, 181, 181, 0.25);
 }
 .login{
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.34);
 }
 .login-visible{
    opacity: 1;
    display: flex;
    pointer-events: all;
 }
 .login-hidden{
    opacity: 0;
    display: none;
    pointer-events: none;
 }

 .btn-entrar-popup{
    width: 290px;
    height: 40px;
 }
 .btn-popup{
    width: 250px;
    height: 50px;
 }
