* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    background-color: #CCF8B3;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #7AC750;
}

/*COLORS*/
.bg-pink-light {
    background-color: #FFF6EF !important;
}

.bg-green {
    background-color: #245F43 !important;
}

.bg-green-light {
    background-color: #CCF8B3 !important;
}

.bg-green-meddiun {
    background-color: #7AC750 !important;
}
.bg-silver{
    background-color: rgb(238, 237, 237) !important;
}


.submit-lente {
    position: absolute;
    left: 1rem;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    height: 100%;
    background-color: transparent;
}

.placeholder-light::placeholder {
    color: rgba(255, 255, 255, 0.493) !important;
}

.div-shadow {
    height: 100% !important;
}

.valorproduto {
    color: #7AC750;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #7AC750;
}

.item-hover:hover {
    cursor: pointer;
    background-color: rgba(189, 181, 181, 0.25);
}

.login {
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.34);
}

.login-visible {
    opacity: 1;
    display: flex;
    pointer-events: all;
}

.login-hidden {
    opacity: 0;
    display: none;
    pointer-events: none;
}

.btn-entrar-popup {
    width: 290px;
    height: 40px;
}

.btn-popup {
    width: 250px;
    height: 50px;
}

.cart {
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.34);
}

.cart-visible {
    opacity: 1;
    display: flex;
    pointer-events: all;
}

.cart-hidden {
    opacity: 0;
    display: none;
    pointer-events: none;
}

.card {
    margin-bottom: 1rem;
    background-color: #F4F4F4 !important;
}

.card-title,
.card-subtitle {
    font-weight: 700;
}

.card-subtitle {
    color: #7AC750 !important;
}

.quantity {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: white;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    color: #245F43;
    font-weight: 700;

}

#valor-total-flores,
#valor-frete,
#valor-valor-compra {
    color: #245F43;
}

#label-total-flores,
#label-frete,
#label-descontos,
#label-valor-compra {
    font-weight: bold;
}

#valor-descontos {
    color: #5F2424;
}

.btn-finalizar-compra {
    width: 428px;
    height: 62px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;

}
#menu-lateral{
    background-color: #245F43;
    width: 280px;
    height: 100vh;
    position:fixed;
}
.container-produtos{
    display: flex;
    width: 100%;
    height: calc(100vh - 85px);
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
}
.items_produtos{
    align-self: flex-end;
}
.select-image-produtos{
    max-width: 550px;
}
.select-image-produto img{
    width: 100%;
}
.tumbnails-produtos{
    display: flex;
    width: 550px;
    justify-content: space-evenly;
    gap: 10px;
}
.tumbnail-produto img{
    width: 100%;
    border-radius: 10px;
}
.right-side{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-side h6{
    color: #245F43;
}
.right-side h1{
    color: #7AC750;
}
.content-produtos{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.prices{
    display: flex;
    flex-direction: column;
}
.price{
    font-size: 30px;
    font-weight: 700;
    color: #7AC750;
}
.off{
    font-size: 25px;
    color: #ccc;
    text-decoration: line-through;
}
.amount-produtos{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #245F43;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
}
.options-produtos{
    display: flex;
    gap: 20px;
}
.amount-produtos span{
    font-weight: 700;
    font-size: 15px;
    color: white;
}
.minus, .plus{
    cursor: pointer;
}
.minus img{
   width: 15px;
}
.plus img{
    width: 15px;
}
.button-cart{
    display: inline-block;
    text-decoration: none;
    color: #F4F4F4;
    background-color: #7AC750;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 20px;
    font-weight: 700;
}
.button-cart img{
   color: rgb(247, 205, 19);
}
.icons-stars{
    color: rgb(247, 205, 19);
    font-size: 140%;
    stroke: #bda946;
}
